.chat {
    padding: 10px;
    height: 70vh;
    width: 35vw;
    margin: 50px;
    display: flex;
    flex-direction: column;
    background-color: rgba(14, 14, 14, 0.3);
    position: relative;
    border-radius: 1rem 1rem 0 0;
    font-family: 'Nunito';
    font-weight: bold;
}

.messageContainer::-webkit-scrollbar {
    width: 0.25rem;
}

.messageContainer::-webkit-scrollbar-track {
    background: #1e1e24;
}

.messageContainer::-webkit-scrollbar-thumb {
    background: #9198e5;
}

.messageContainer {
    height: 100%;
    overflow-y: scroll;
}

.chat form {
    height: 40px;
    position: absolute;
    bottom: -40px;
    left: 0;
    width: 100%;
    display: flex;
    font-size: 1rem;
}

.chat form button {
    width: 20%;
    background: radial-gradient(#9198e5,#e66465);
    /* background: linear-gradient(#9198e5,#e66465); */
    border: none;
    outline: none;
    border-bottom-right-radius: 1rem;
    cursor: pointer;
}
.chat form button:hover {
    background: #e66465;
    /* background: linear-gradient(#e66465, #9198e5); */
}

.chat form button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.chat form input {
    font-family: 'Nunito';
    font-weight: bold;
    font-size: 1.2rem;
    color: lightgray;
    margin: 0;
    width: 100%;
    background: rgb(58, 58, 58);
    outline: none;
    border: none;
    padding: 0 15px;
    border-bottom-left-radius: 1rem;

}

ul,
li {
    text-align: left;
    list-style: none;
}

p {
    max-width: 270px;
    padding: 10px 15px;
    border-radius: 25px;
    position: relative;
    color: white;
    text-align: start;
    overflow-wrap: break-word;
}

.message {
    display: flex;
    align-items: center;
}

.message span {
    margin: 10px;
    color: lightgray;
    font-size: 0.7rem;
}


.sent {
    flex-direction: row-reverse;
}

.sent p {
    color: white;
    background: #0b93f6;
}

.received p {
    background: #e5e5ea;
    color: black;
}

.heads {
    width: 2rem;
}