html {
  font-size: 1rem!important;
}

body {
  overflow-x: hidden;
}

#root {
  font-family: 'Nunito' !important;
  text-align: center;
  /* display: flex; */
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  padding-bottom: 3rem;
  /* background: linear-gradient(#fff, #999); */
  background: linear-gradient(to right, rgba(204, 83, 51, 0.6), rgba(35, 7, 77, 0.6));
}

#root>div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app>div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row {
  flex-direction: row !important;
}

.row>* {
  margin: 5px;
}

h1 {
  font-family: 'Damion', cursive;
  color: #fff;
  text-shadow: 0px 0px 60px 0px rgba(0,0,0,0.30);
}

.App {
  display: flex;
  justify-content: center;
  width: 100%;
  color: rgb(163, 25, 163);
}
